***************
*** 87,92 ****
  
  config LOCALVERSION
  	string "Local version - append to kernel release"
  	help
  	  Append an extra string to the end of your kernel version.
  	  This will show up when you type uname, for example.
--- 87,93 ----
  
  config LOCALVERSION
  	string "Local version - append to kernel release"
+ 	default "-ipipe"
  	help
  	  Append an extra string to the end of your kernel version.
  	  This will show up when you type uname, for example.
