***************
*** 89,95 ****
  
  config ATMEL_TCB_CLKSRC
  	bool "TC Block Clocksource"
- 	depends on ATMEL_TCLIB
  	default y
  	help
  	  Select this to get a high precision clocksource based on a
--- 89,95 ----
  
  config ATMEL_TCB_CLKSRC
  	bool "TC Block Clocksource"
+ 	depends on ATMEL_TCLIB && !IPIPE
  	default y
  	help
  	  Select this to get a high precision clocksource based on a
***************
*** 364,377 ****
  	  will be called bh1780gli.
  
  config SENSORS_BH1770
-          tristate "BH1770GLC / SFH7770 combined ALS - Proximity sensor"
-          depends on I2C
-          ---help---
-            Say Y here if you want to build a driver for BH1770GLC (ROHM) or
  	   SFH7770 (Osram) combined ambient light and proximity sensor chip.
  
-            To compile this driver as a module, choose M here: the
-            module will be called bh1770glc. If unsure, say N here.
  
  config SENSORS_APDS990X
  	 tristate "APDS990X combined als and proximity sensors"
--- 364,377 ----
  	  will be called bh1780gli.
  
  config SENSORS_BH1770
+ 	 tristate "BH1770GLC / SFH7770 combined ALS - Proximity sensor"
+ 	 depends on I2C
+ 	 ---help---
+ 	   Say Y here if you want to build a driver for BH1770GLC (ROHM) or
  	   SFH7770 (Osram) combined ambient light and proximity sensor chip.
  
+ 	   To compile this driver as a module, choose M here: the
+ 	   module will be called bh1770glc. If unsure, say N here.
  
  config SENSORS_APDS990X
  	 tristate "APDS990X combined als and proximity sensors"
