***************
*** 389,394 ****
  	bool "enable/disable ftrace tracepoints dynamically"
  	depends on FUNCTION_TRACER
  	depends on HAVE_DYNAMIC_FTRACE
  	default y
  	help
            This option will modify all the calls to ftrace dynamically
--- 389,395 ----
  	bool "enable/disable ftrace tracepoints dynamically"
  	depends on FUNCTION_TRACER
  	depends on HAVE_DYNAMIC_FTRACE
+ 	depends on !IPIPE_TRACE_MCOUNT
  	default y
  	help
            This option will modify all the calls to ftrace dynamically
